<div class="box white-shadow px-md-5 py-0 rounded-4">
    <div class="row py-5 text-center">
        <form #addForm="ngForm">
            <h2>New movie</h2>
            <label>
                <input type="file" (change)="getFile($event)" style="display: none;" />
                <img [src]="newMovie.image" class="img-fluid btn movie-image white-shadow p-0" alt="">
            </label>
            <div class="form-floating mt-4 ">
                <input type="email" name="email" [(ngModel)]="newMovie.name" class="form-control bg-black"
                    id="floatingInput" placeholder="" required #NameInput="ngModel" />
                <label for="floatingInput">Movie name</label>
            </div>
            <div class="p-3 text-center fs-5">
                <b>Genre:</b> &nbsp;&nbsp;
                <span *ngFor="let t of allTags">
                    <input type="checkbox" class="form-check-input" [name]="t" [id]="t" [(ngModel)]="tags[t]"
                        (change)="updateTagList()"/>
                    <label [for]="t">&nbsp; {{t}}</label> &nbsp;&nbsp;
                </span>

            </div>
            <p *ngIf="NameInput.invalid && NameInput.touched" class="text-danger ">Invalid name</p>
            <!-- <div class="form-floating mt-4">
                    <input type="password" name="password" [(ngModel)]="password" class="form-control bg-black" id="floatingPassword" placeholder="Password" required pattern="[a-zA-Z0-9]*" minlength=3 #userPasswordInput="ngModel"/>
                    <label for="floatingPassword">Password</label>
                  </div> -->
            <!-- <p class="text-danger" *ngIf="userPasswordInput.invalid && userPasswordInput.touched">Invalid password</p> -->
            <button type="submit" [disabled]="addForm.invalid"
                class="btn btn-success mt-4" (click)="addMovie()">Add</button>
        </form>

    </div>
</div>